/*? table/grid Color */
.row:nth-child(even) .col {
	background-color: var(--table-bg);
}
.row:nth-child(odd) .col {
	background-color: var(--table-bg-light);
}

.col.container,
.col.container .row,
.col.container .col,
.col .container,
.col .container .row,
.col .container .col {
	background: none;
}

.row.table-head,
.row.table-head .col {
	background-color: var(--table-head);

	border-top-left-radius: var(--table-head-border-radius);
	border-top-right-radius: var(--table-head-border-radius);
}
.row.row-head,
.row.row-head .col {
	background-color: var(--row-head);
}

/*? news and pendapatan */
.home-head {
	height: 20%;
}

.news-container {
	height: 80%;
	padding-top: 1%;

	display: grid;

	grid-auto-flow: column;
	grid-template-columns: 1fr 20em;
	grid-auto-rows: 100%;
	gap: 1em;
}

/** news */
.news {
	overflow-y: clip;
}
.news > .container:nth-child(3) {
	height: 60%;
	overflow-y: auto;
}

.news-isi .col:first-child span {
	color: var(--text);
}
.news-isi .col:nth-child(2) span {
	color: var(--text);
}
.news-isi .col:last-child span {
	color: var(--text);
}
.news-isi .col:last-child {
	background: var(--warning-bg);
}

.news-isi.barangbaru .col:first-child {
	background: var(--success);
}
.news-isi.namabaru .col:first-child {
	background: var(--success-bg);
}
.news-isi.hargabaru .col:first-child {
	background: var(--warning);
}
.news-isi.updatediskon .col:first-child {
	background: var(--info-bg);
}
.news-isi.diskonbaru .col:first-child {
	background: var(--info);
}
.news-isi.restok .col:first-child {
	background: var(--warning-bg);
}
.news-isi.stokhabis .col:first-child {
	background: var(--danger);
}
.news-isi.barangdihapus .col:first-child {
	background: var(--danger);
}

/** pendapatan  */
.pendapatan-container {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;

	text-align: center;
	font-size: 1.5rem;
}

.pendapatan-text-container {
	background: var(--success-bg);
	padding: 0.5em 1em;
}
.pendapatan-text {
	border: 0.1em solid var(--success);
	border-radius: 1em;

	margin-top: 1em;
	margin-bottom: 1em;
}

.pendapatan-hasil-container {
	flex: 1 1 auto;
	padding: 1rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pendapatan-hasil {
	color: var(--success);
	--blur-color: var(--success-shadow);
	--shadow-blur: 0.1em;
	text-shadow:
		1.5px 1.5px var(--shadow-blur) var(--blur-color),
		-1.5px -1.5px var(--shadow-blur) var(--blur-color),
		1.5px -1.5px var(--shadow-blur) var(--blur-color),
		-1.5px 1.5px var(--shadow-blur) var(--blur-color);

	border: 0.1em solid var(--success);
	border-radius: 1em;

	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
